#imageViewControlContainer .unAvailableImagesContainer{
    display: block;
    clear: both;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
    max-width: 550px;
    min-height: 300px;
    margin-left:33%;
    margin-top:50px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
}

#imageViewControlContainer .unAvailableImagesContainer .unAvailableImage{
    position: absolute;
    border-radius: 10px;
    margin-left: 17%;
    margin-top: 20px;
}

#imageViewControlContainer .unAvailableImagesContainer .unAvailableImage img{
    border-radius: 10px;
}

#imageViewControlContainer .unAvailableImagesContainer .unAvailableImageBtn {
    position: absolute;
    margin-left: 32%;
    margin-top: 42%;
}

#imageViewControlContainer .unAvailableImagesContainer .unAvailableImageBtn button{
    border-radius: 20px;
    border: 1px solid #92ff2b;
    background-color: #2bff60;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}